@use "../../partials/mixins" as *;

.show {
  display: flex;
  flex-direction: column;

  @include med-lrg {
    flex-direction: row;
  }

  &--left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--right {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
  }

  &__title {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  &__image {
    width: 70vw;
    border-radius: 5px;

    // height: 300px;
    // padding-right: 6.4rem;
  }
}
