@use "../../partials/mixins" as *;

.show {
  display: flex;
  flex-direction: column;

  @include med-lrg {
    flex-direction: row;
  }

  &--left {
    display: flex;
    flex-direction: column;

    @include med-lrg {
      margin-right: 3.2rem;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;

    @include med-lrg {
      margin-top: 9rem;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  &__subtitle {
    margin-bottom: 1.2rem;
  }

  &__img {
    width: 70vw;
    max-width: 350px;
    border-radius: 5px;
    margin-bottom: 2.4rem;
    align-self: center;

    @include med-lrg {
      width: 300px;
      padding-right: 6.4rem;
    }

    &--not-found {
      background-color: grey;
      width: 16rem;
      height: 20rem;
      border-radius: 5px;
      margin-bottom: 2.4rem;
    }
  }

  &__rating {
    margin-bottom: 1.2rem;
  }

  &__subtitle {
    margin-bottom: 1.2rem;
  }

  &__description {
    margin-bottom: 1.2rem;
  }

  &__more-info {
    color: blue;
    text-decoration: underline;
    font-size: 1.2rem;

    &:active {
      color: purple;
    }
  }
}
